aiogram
aiosqlite
dotenv
Faker
gigachain
gigachat
httpx
langchain-core
langchain-gigachat
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt
langgraph-sdk
pydantic
requests
