aiogram==3.22.0
aiosqlite
dotenv
Faker
langchain-gigachat
gigachat
httpx
langchain
langchain-core==0.3.79
langchain-gigachat
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt
langgraph-sdk
pydantic
requests
